input{
    margin: 10px 0 10px 0;
}

.tutor,.admin{
    width: 300px;
    border: solid black 1px;
    float: left;
    text-align: center;
    margin-left: 50px;
}

#tutor,#admin{
    display: none;
    padding-top: 10px;
}
