<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清人汇总</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/main.css"/>
    <style>
        div.list-page ul.pagination li{width: 30px;float:left;}
        table.result-tab th{text-align: center;}
        table.result-tab td{text-align: center;}
    </style>
</head>
<body>
<div class="result-wrap">
    <form name="myform" id="myform" method="post">
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th width="10%">分组</th>
                    <th width="10%">昵称</th>
                    <th width="10%">QQ</th>
                    <th width="10%">午安昵称</th>
                    <th>移除时间</th>


                </tr>
                {volist name="users" id="user" }
                <tr>
                    {if condition="($user['create_time'] != $user['modify_time'])"}
                    <td>{$user['group_name']}</td>
                    <td>{$user['user_name']}</td>
                    <td>{$user['QQ']}</td>
                    <td>{$user['wuan_name']}</td>
                    <td>{$user['modify_time']}</td>
                    {/if}
                </tr>
                {/volist}
            </table>

        </div>
    </form>
</div>

</body>
</html>