<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AddAdmin</title>
		<link rel="stylesheet" href="../../../../public/User/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../../../..//public/User/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../../public/Admin/css/public.css" />
		
	</head>
	<body>
		<div class="addadmin container-fluid">
			<div class="row title">
				<div class="col-md-12">
					<h1 class="col-md-9">考勤系统管理后台</h1>
					<div class="col-md-3">管理员:陶陶
						<span class="glyphicon glyphicon-arrow-right">登出</span>
					</div>
				</div>
			</div>
			<div class="row">
     			<div class="col-md-2 sidebar">
     				<ul class="nav nav-pills nav-stacked">
     					<li role="presentation" class="active">
     						<a href="#">新增管理员t</a>
     					</li>
     					<li role="presentation">
     						<a href="#">新增导师</a>
     					</li>
     					<li role="presentation">
     						<a href="#">查看周报</a>
     					</li>
     					<li role="presentation">
     						<a href="#">考勤汇总</a>
     					</li>
     					<li role="presentation">
     						<a href="#">清人汇总</a>
     					</li>
     				</ul>
     			</div>
 				<div class="col-md-10">
 					<div class="main">
 						<form class="form-horizontal">
 							<div class="form-group">
 								<label for="inputEmail3" class="col-sm-2 control-label">昵称：</label>
 								<div class="col-sm-10">
 									<input type="text" class="form-control" placeholder="">
 								</div>
 							</div>
 							<div class="form-group">
 								<label for="inputEmail3" class="col-sm-2 control-label">邮箱：</label>
 								<div class="col-sm-10">
 									<input type="email" class="form-control" placeholder="">
 								</div>
 							</div>
   							<div class="form-group">
   								<label for="inputPassword3" class="col-sm-2 control-label">密码：</label>
   								<div class="col-sm-10">
   									<input type="password" class="form-control" placeholder="">
   								</div>
   							</div>
   							<div class="form-group">
  								<div class="col-sm-offset-2 col-sm-10">
     						  		<button type="submit" class="btn btn-default">登录</button>
  								</div>
  							</div>
 						</form>	
 					</div>
 				</div>
  			</div>
		</div>
	</body>
</html>

