<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AddAdmin</title>
		<link rel="stylesheet" href="../../../../public/User/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../../../..//public/User/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../../public/Admin/css/public.css" />
		
	</head>
	<body>
		<div class="addadmin">
			<div class="title">

					<div class="pull-left">考勤系统管理后台</div>
					<div class="post pull-right">管理员:陶陶
						 <a href="/index.php/admin/quit" class="glyphicon glyphicon-arrow-right">登出</a>
					</div>
			</div>

     			<div class="sidebar">
     				<ul class="nav nav-pills nav-stacked">
     					<li role="presentation">
     						<a href="/viewerb/addAdmin">新增管理员</a>
     					</li>
     					<li role="presentation">
     						<a href="/viewerb/addMentor">新增导师</a>
     					</li>
     					<li role="presentation">
     						<a href="/viewerb/checkWeekly">查看周报</a>
     					</li>
     					<li role="presentation">
     						<a href="/viewerb/gatherAttendance">考勤汇总</a>
     					</li>
     					<li role="presentation">
     						<a href="/viewerb/gatherClear">清人汇总</a>
     					</li>
     					<li role="presentation">
     						<a href="/viewerb/check">学员检索</a>
     					</li>
     				</ul>
     			</div>

 					<div class="main">
 						<form>
 							<div class="textframe  clearfix">
 								<label for="" class="pull-left">QQ号：</label>
 								<input type="text" class="textbox" placeholder="" name="name" style="-webkit-box-shadow: 0px 0px 0px 50px #ffffff inset;">
   								
   								<button type="submit" class="btn btn-default btn-register text-center">检索</button>
   								
   								<div style="border: 1px solid #47acff;margin-top: 100px;padding: 20px;text-align: center;">
   									<p>学员：小木</p>
   									<p>组别：PHP</p>
   								</div>
  							</div>
 						</form>	
 					</div>
		</div>
	</body>
</html>

