<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>考勤管理</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/main.css"/>
    <script type="text/javascript" src="__ROOT__/static/index/js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="{:url('index/index')}"><i class="icon-font">&#xe001;</i>浏览周报&&请假</a>
                    <a href="{:url('index/addreport')}"><i class="icon-font">&#xe005;</i>新增周报</a>
                    <a href="{:url('index/addleave')}"><i class="icon-font">&#xe048;</i>新增请假</a>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>撰写周报内容</h1>
            </div>
            <div class="result-content">
                <form action="{:url('index/update')}" method="post">
                <ul class="sys-info-list">
                    <li>
                        <input type="hidden" name="user_id" value="{$userres.id}">
                        <label class="res-lab">用户ID：</label><span class="res-info"> {$userres.id}</span>
                    </li>
                    <li>
                        <label class="res-lab">昵称：</label><span class="res-info"> {$userres.user_name}</span>
                    </li>
                    <li>
                        <input type="hidden" name="group_id" value="{$userres.group_id}">
                        <label class="res-lab">隶属组：</label>
                        <span class="res-info">
                            {switch name="userres.group_id"}
                                {case value="2"}Web前端组{/case}
                                {case value="3"}UI设计组{/case}
                                {case value="4"}Android组{/case}
                                {case value="5"}产品经理组{/case}
                                {case value="6"}软件测试组{/case}
                                {case value="7"}Java组{/case}
                                {default /}PHP组
                            {/switch}
                        </span>
                    </li>
                    <li>
                        <input type="hidden" name="week_num" value="{$userres.week_num}">
                        <label class="res-lab">当前周：</label><span class="res-info"> 第{$userres.week_num}周</span>
                    </li>
                    <li>
                        <input type="hidden" name="status" value="0">
                        <label class="res-lab">报告状态：</label>
                        <span class="res-info" style="color:#f00;">
                            {if condition = "$userres.status == 0"}已提交过周报，不用再次提交
                            {elseif condition = "$userres.status == 1" /}本周已请假，仍可交周报，提交后撤消请假状态
                            {else /}本周未交周报
                            {/if}
                        </span>
                    </li>
                    <li>
                        <label class="res-lab" style="display: block;float: left;">提交周报：</label><span class="res-info"> 
                        <textarea name="text" id="" cols="30" rows="10" placeholder="本周已完成内容,遇到问题,下周计划,作品链接（可选）" {if condition = "$userres.status == 0"}disabled{/if}></textarea></span>
                    </li>
                    
                    <li>
                        <label class="res-lab"></label><span class="res-info"><input type="submit" value="提交周报"  {if condition = "$userres.status == 0"}disabled{/if}></span>
                    </li>
                </ul>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>