<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看考勤</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/main.css"/>
    <script type="text/javascript" src="__ROOT__/static/index/js/libs/modernizr.min.js"></script>
    <style>
        div.list-page ul.pagination li{width: 30px;float:left;}
        table.result-tab th{text-align: center;}
        table.result-tab td{text-align: center;}
        /*table.result-tab td:nth-of-type(4){text-align: left;}*/
        .success{
            /*color: #ff282f;*/
            background-color: #00aa00;
        }
        .error{
            /*color: #00aa00;*/
            background-color: #ff1a19;
        }
        .other{
            color: #000000;
            background-color: #ffff00;
        }
    </style>
</head>
<body>
{include file="public/top" /}
<div class="container clearfix">
    {include file="public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span><?php echo session('username');?>主页</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="{:url('index/index')}"><i class="icon-font">&#xe001;</i>浏览周报和请假情况</a>
                    <a href="{:url('index/addreport')}"><i class="icon-font">&#xe005;</i>新增周报</a>
                    <a href="{:url('index/addleave')}"><i class="icon-font">&#xe048;</i>新增请假</a>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="10%">分组</th>
                            <th width="10%">用户名</th>
                            <th width="10%">QQ</th>
                            <th>第{$week}周</th>
                            <th>第{$week-1}周</th>
                            <th>第{$week-2}周</th>
                            <th>第{$week-3}周</th>
                            <th>第{$week-4}周</th>


                        </tr>
                        {volist name="users" id="user" }
                        <tr>
                            <td>
                            {if condition="($user[0] === NULL)"}无分组
                            {else /}{$user[0]}
                            {/if}
                            </td>
                            <td>{$user['user_name']}</td>
                            <td>{$user[2]}</td>
                            <?php $len = count($user);?>
                            {for start="3" end="$len" step="1" name="i"}


                            {switch name="$user[$i]"}
                            {case value="1"}<td class="error">未提交{/case}
                            {case value="2"}<td class="success">已提交{/case}
                            {case value="3"}<td class="other">请假{/case}
                            {default /}<td class="error">未提交
                            {/switch}
                        </td>

                            {/for}

                        </tr>
                        {/volist}
                    </table>

                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>