<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="{:url('index/index')}"><i class="icon-font"></i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="{:url('index/index')}"><i class="icon-font"></i>周报管理</a></li>
                        <li><a href="{:url('index/addreport')}"><i class="icon-font"></i>撰写周报</a></li>
                        <li><a href="{:url('index/addleave')}"><i class="icon-font"></i>请假申请</a></li>

                    </ul>
                    <a href="{:url('Attendlist/getlist')}"><i class="icon-font"></i>10周周报汇总</a>
                </li>
            </ul>
        </div>
    </div>