<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择分组</title>
</head>
<body>
<p>请选择要加入的分组</p>
<ul>
    <li><a href="http://localhost__URL__/join?group=1">PHP组</a></li>
    <li><a href="http://localhost__URL__/join?group=2">WEB前端组</a></li>
    <li><a href="http://localhost__URL__/join?group=3">UI设计组</a></li>
    <li><a href="http://localhost__URL__/join?group=4">Android组</a></li>
    <li><a href="http://localhost__URL__/join?group=5">产品经理组</a></li>
    <li><a href="http://localhost__URL__/join?group=6">软件测试组(内测)</a></li>
    <li><a href="http://localhost__URL__/join?group=7">JAVA组(内测)</a></li>
</ul>
</body>
</html>