<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h2>注册</h2>
<form action="http://localhost__URL__/add" method="post">
    午安网昵称:<input type="text" name="wuan_name" required><br/>
    邮箱:<input type="text" name="email" required><br/>
    QQ:<input type="text" name="QQ" required><br/>
    用户名:<input type="text" name="user_name" required><br/>
    密码:<input type="password" name="password" required><br/>
    再次输入密码:<input type="password" name="repassword" required><br/>
    验证码:<input type="text" name="code" required>{:captcha_img()}<br/>
    <input type="submit" value="注册">
    <input type="reset" value="重新填写">
</form>
</body>
</html>