<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title></title>
  <link rel="stylesheet" href="__ROOT__/static/admin/css/pintuer.css">
  <link rel="stylesheet" href="__ROOT__/static/admin/css/admin.css">
  <script src="__ROOT__/static/admin/js/jquery.js"></script>
  <script src="__ROOT__/static/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 创建导师帐号</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('login/signin')}">
      <input type="hidden" name="type" value="admin">
      <div class="form-group">
        <div class="label">
          <label for="sitename">用户名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="username" name="username" size="50" placeholder="请输入导师用户名" data-validate="required:请输入导师用户名" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">电子邮箱：</label>
        </div>
        <div class="field">
          <input type="email" class="input w50" id="email" name="email" size="50" placeholder="请输入导师电子邮箱地址" data-validate="required:请输入导师电子邮箱地址" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="password" size="50" placeholder="请导师帐号密码" data-validate="required:请输入导师帐号密码,length#>=5:新密码不能小于5位" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">确认新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="repassword" size="50" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,repeat#password:两次输入的密码不一致" />
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>