<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>导师后台登录</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/animate-custom.css" />
</head>
<body>
<div class="container">
    <header>
        <h1><span>午安网导师后台</span></h1>
        <nav class="codrops-demos">
            <span>过你想要的生活</span>
        </nav>
    </header>
    <section>
        <div id="container_demo" >
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="{:url('login/login')}" autocomplete="on" method="post">
                        <h1>Log in</h1>
                        <p>
                            <label for="email" class="email" data-icon="u" >您的电子邮件地址</label>
                            <input id="email" name="email" required="required" type="email" placeholder="请输入你的电子邮箱地址"/>
                        </p>
                        <p>
                            <label for="password" class="youpasswd" data-icon="p">密码</label>
                            <input id="password" name="password" required="required" type="password" placeholder="请输入你的密码" />
                        </p>
                        <p class="login button">
                            <input type="submit" value="Login" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>